

.form-input {
    width: 300px;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    outline: 0;
}

.participants-list{
    padding: 20px 12px;
    list-style: none;
    text-align: left;
    border-bottom: 1px #ccc solid;
}
.input-box{
    position: fixed;
    bottom: 0;
    padding :15px 15px 0px 15px;
}
